<!DOCTYPE html>
<html>
<head>
  <title>Welcome The Family Page</title>
</head>
  <body>
    <header>
      <nav>
        <ul>
        <li><a href="#">Symptoms</a></li>
        <li><a href="#">Deaths</a></li>
        <li class ="Logo"><a href ="#">GoCorona</a></li>
        <li><a href="#">Medications</a></li>
        <li><a href="#">Precautions</a></li>
        </ul>
      </nav>
    </header>
    

    <section class ="coronaFeatures">
      <figure>
        <img src ="https://i.ytimg.com/vi/S_Bqdn_W0z8/maxresdefault.jpg" alt ="">
        <figcaption>Wash Hands Regularly</figcaption>
      </figure>

      <figure>
        <img src ="https://images-na.ssl-images-amazon.com/images/I/51jvUTC0gNL._SX425_.jpg" alt ="">
        <figcaption>Light up diyas for Warriors</figcaption>
      </figure>

      <figure>
        <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFj7lowMrkIK66NeJhRPDM6vBaqxwMdfP3DUmRNcwBLDzsZefe&usqp=CAU" alt ="">
        <figcaption>GO to Hospitals for checkUps</figcaption>
      </figure>


    </section>

    <footer>
      <h2>
        WEBPAGE YOU ARE VIEWING IS UNDER INVIGILATION
      </h2>
    </footer>
  </body>
</html>