
<br/>
<br/>
<br/>
<br/>


<div class ="container">
  <div class ="row">
    <app-result></app-result>
  </div>
  
  <div class ="row">
    <app-button  [label]="'1'"></app-button>
    <app-button  [label]="'2'"></app-button>
    <app-button  [label]="'3'"></app-button>
    <app-button  [label]="'+'"></app-button>
  </div>
  <div class ="row">
    <app-button  [label]="'4'"></app-button>
    <app-button  [label]="'5'"></app-button>
    <app-button  [label]="'6'"></app-button>
    <app-button  [label]="'-'"></app-button>
  </div>
  <div class ="row">
    <app-button  [label]="'7'"></app-button>
    <app-button  [label]="'8'"></app-button>
    <app-button  [label]="'9'"></app-button>
    <app-button  [label]="'*'"></app-button>
  </div>
  <div class ="row">
    <app-button  [label]="'clear'"></app-button>
    <app-button  [label]="'0'"></app-button>
    <app-button  [label]="'='"></app-button>
    <app-button  [label]="'/'"></app-button>
  </div>
</div>